name: Export Unknown Wiki List for LLM

on:
  schedule:
    # 00:00 JST every weekday
    # ⚠️ The timing is somehow not accurate at all
    - cron: "0 15 * * 1-5"
  workflow_dispatch:
    inputs:
      group_by:
        description: "Specify the grouping criteria for the wiki pages"
        required: true
        default: Owner
        type: choice
        options:
          - Owner
          - Category
      language:
        description: "Specify the language used for the wiki pages"
        required: true
        default: English
        type: choice
        options:
          - English
          - Japanese

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout the Main Repository
        uses: actions/checkout@v2
        with:
          repository: "${{ github.repository }}"
          ref: master
          path: ./github-wiki-organisers
      - name: Checkout the Wiki Repository
        uses: actions/checkout@v2
        with:
          repository: "${{ github.repository }}.wiki"
          ref: master
          path: ./github-wiki-organisers/wiki
      - name: Configure Git Identity
        working-directory: ./github-wiki-organisers/wiki
        run: |
          set -xe
          git config --global user.name  "GitHub Actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8
      - name: Export Unknown Wiki List for LLM
        id: export-unknown-wiki-list-for-llm
        working-directory: ./github-wiki-organisers/wiki
        run: |
          set -xe
          git pull origin master
          bash export_unknown_wiki_list_for_llm.sh "${{ github.event.inputs.group_by || 'Owner' }}" "${{ github.event.inputs.language || 'English' }}"
          git add -A
          jst_current_datetime=$(TZ=Asia/Tokyo date '+%Y-%m-%d %H:%M:%S JST')
          echo "jst_current_datetime=$jst_current_datetime" >> $GITHUB_OUTPUT
          git commit -m "Commit unknown_wiki_list_for_llm.txt by GitHub Actions[bot] at $jst_current_datetime" || true
          git push origin master || true
          echo "commit_message=$(git log -1 --pretty=format:%s)" >> $GITHUB_OUTPUT
      - name: Slack Notification
        uses: slackapi/slack-github-action@v2
        if: contains(steps.export-unknown-wiki-list-for-llm.outputs.commit_message, steps.export-unknown-wiki-list-for-llm.outputs.jst_current_datetime)
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_APP_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            blocks:
              - type: "header"
                text:
                  type: "plain_text"
                  text: "【github-wiki-organisers Wiki LLM Notification for Ignored Page List Export】"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Message: The latest ignored page list for LLM has been exported! Make sure if it is as you expect by cloning ${{ github.repository }}.wiki !"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Workflows: <https://github.com/${{ github.repository }}/actions/workflows/export-unknown-wiki-list-for-llm.yml|Export Unknown Wiki List for LLM>"
