name: Notify Uncategorised Wiki Count by Namespace

on:
  schedule:
    # 09:00 JST every Monday
    # ⚠️ The timing is somehow not accurate at all
    - cron: '0 0 * * 1'
  workflow_dispatch:
    inputs:
      language:
        description: Specify the language used for the wiki pages
        required: true
        default: English
        type: choice
        options:
          - English
          - Japanese

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout the Wiki Repository
        uses: actions/checkout@v6
        with:
          repository: "${{ github.repository }}.wiki"
          ref: master
          path: .wiki
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Format Uncategorised Wiki Count by Namespace
        id: format-uncategorised-wiki-count
        working-directory: .wiki
        run: |
          set -xe
          git pull origin master
          bash export_unknown_wiki_count_list_by_namespace.sh Category "${{ github.event.inputs.language || 'English' }}"
          uncategorised_wiki_count=$(ruby -e "puts File.readlines('unknown_wiki_count_list_by_namespace.txt')[0]")
          echo "uncategorised_wiki_count=$uncategorised_wiki_count" >> $GITHUB_OUTPUT
          rm unknown_wiki_count_list_by_namespace.txt
      - name: Slack Notification
        uses: slackapi/slack-github-action@v2
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_APP_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            blocks:
              - type: "header"
                text:
                  type: "plain_text"
                  text: "【github-wiki-organisers Weekly Uncategorised Wiki Count by Namespace Report】"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<https://github.com/${{ github.repository }}/wiki#uncategorised|${{ steps.format-uncategorised-wiki-count.outputs.uncategorised_wiki_count }}>"
