name: Notify Unknown Wiki Count by Namespace

on:
  schedule:
    # 09:00 JST every Monday
    # ⚠️ The timing is somehow not accurate at all
    - cron: '0 0 * * 1'
  workflow_dispatch:
    inputs:
      language:
        description: Specify the language used for the wiki pages
        required: true
        default: English
        type: choice
        options:
          - English
          - Japanese

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout the Wiki Repository
        uses: actions/checkout@v6
        with:
          repository: "${{ github.repository }}.wiki"
          ref: master
          path: .wiki
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Format Unknown Wiki Count by Namespace
        id: format-unknown-wiki-count
        working-directory: .wiki
        run: |
          set -xe
          git pull origin master
          bash export_unknown_wiki_count_list_by_namespace.sh Owner "${{ github.event.inputs.language || 'English' }}"
          unknown_but_necessary=$(ruby -e "puts File.readlines('unknown_wiki_count_list_by_namespace.txt')[0]")
          unknown_owner_nor_necessity=$(ruby -e "puts File.readlines('unknown_wiki_count_list_by_namespace.txt')[1]")
          unowned=$(ruby -e "puts File.readlines('unknown_wiki_count_list_by_namespace.txt')[2]")
          echo "unknown_but_necessary=$unknown_but_necessary" >> $GITHUB_OUTPUT
          echo "unknown_owner_nor_necessity=$unknown_owner_nor_necessity" >> $GITHUB_OUTPUT
          echo "unowned=$unowned" >> $GITHUB_OUTPUT
          rm unknown_wiki_count_list_by_namespace.txt
      - name: Slack Notification
        uses: slackapi/slack-github-action@v2
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_APP_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            blocks:
              - type: "header"
                text:
                  type: "plain_text"
                  text: "【github-wiki-organisers Weekly Unowned Wiki Count Report】"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<https://github.com/${{ github.repository }}/wiki#unowned-but-necessary-wiki|${{ steps.format-unknown-wiki-count.outputs.unknown_but_necessary }}>"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<https://github.com/${{ github.repository }}/wiki#unknown-owner-nor-necessity-wiki|${{ steps.format-unknown-wiki-count.outputs.unknown_owner_nor_necessity }}>"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<https://github.com/${{ github.repository }}/wiki#unowned|${{ steps.format-unknown-wiki-count.outputs.unowned }}>"
