name: Update Wiki List on Home and Sidebar

on:
  schedule:
    # 12:00 and 22:00 JST every weekday
    # ⚠️ The timing is somehow not accurate at all
    - cron: "0 3 * * 1-5"
    - cron: "0 13 * * 1-5"
  workflow_dispatch:
    inputs:
      group_by:
        description: Specify the grouping criteria for the wiki pages
        required: true
        default: Owner
        type: choice
        options:
          - Owner
          - Category
      language:
        description: Specify the language used for the wiki pages
        required: true
        default: English
        type: choice
        options:
          - English
          - Japanese
      home_overflow:
        description: Check if Home page took too long to render.
        required: true
        default: false
        type: boolean

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout the Main Repository
        uses: actions/checkout@v6
        with:
          repository: "${{ github.repository }}"
          ref: master
          path: ./github-wiki-organisers
      - name: Checkout the Wiki Repository
        uses: actions/checkout@v6
        with:
          repository: "${{ github.repository }}.wiki"
          ref: master
          path: ./github-wiki-organisers/wiki
      - name: Configure Git Identity
        working-directory: ./github-wiki-organisers/wiki
        run: |
          set -xe
          git config --global user.name  "GitHub Actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Update github-wiki-organisers Wiki
        id: update-github-wiki-organisers-wiki
        working-directory: ./github-wiki-organisers/wiki
        run: |
          set -xe
          git pull origin master
          bash update_wiki_list_on_home_and_sidebar.sh "${{ github.event.inputs.group_by || 'Owner' }}" "${{ github.event.inputs.language || 'English' }}" "${{ github.event.inputs.home_overflow || false }}"
          git add -A
          jst_current_datetime=$(TZ=Asia/Tokyo date '+%Y-%m-%d %H:%M:%S JST')
          echo "jst_current_datetime=$jst_current_datetime" >> $GITHUB_OUTPUT
          git commit -m "Update Wiki list on Home and Sidebar by GitHub Actions[bot] at $jst_current_datetime" || true
          git push origin master || true
          echo "commit_message=$(git log --oneline -1)" >> $GITHUB_OUTPUT
      - name: Slack Notification
        uses: slackapi/slack-github-action@v2
        if: contains(steps.update-github-wiki-organisers-wiki.outputs.commit_message, steps.update-github-wiki-organisers-wiki.outputs.jst_current_datetime)
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_APP_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_CHANNEL_ID }}
            blocks:
              - type: "header"
                text:
                  type: "plain_text"
                  text: "【github-wiki-organisers Daily Wiki List on Home and Sidebar Update Report】"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Workflows: <https://github.com/${{ github.repository }}/blob/master/.github/workflows/update-wiki-list-on-home-and-sidebar.yml|Update Wiki List on Home and Sidebar>"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Commit: ${{ steps.update-github-wiki-organisers-wiki.outputs.commit_message }}"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Source: <https://github.com/${{ github.repository }}/wiki|github-wiki-organisers Wiki>"
